﻿@model Smart_home.Models.UserLoginRegister.UserRegister


@{
    Layout = null;
}

@*<h2>Register</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Login)
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EquipmentName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EquipmentName)
                    @Html.ValidationMessageFor(model => model.EquipmentName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зарегистрировать" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@




<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>SmartY</title>
    <link rel="stylesheet" href="~/Content/css/registr.css">
</head>

<body>
    <div id="kc-container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" , @placeholder = "Логин" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Login,new { @class = "form-control", @placeholder = "Логин" })
                        @Html.ValidationMessageFor(model => model.Login)
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" , @placeholder = "Пароль" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password,new { @class = "form-control", @placeholder = "Пароль" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" , @placeholder = "Повторите пароль" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.ConfirmPassword,new { @class = "form-control", @placeholder = "Повторите пароль" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" , @placeholder = "Имя" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name,new { @class = "form-control", @placeholder = "Имя" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.EquipmentName, new { @class = "control-label col-md-2" , @placeholder = "Модель устройства" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.EquipmentName,new { @class = "form-control", @placeholder = "Модель устройства" })
                        @Html.ValidationMessageFor(model => model.EquipmentName)
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2", @placeholder="Адрес" })*@
                    <div class="col-md-10">
                        
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Адрес" })      
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>

                <div class="signin-panel">
                    <button class="signin">Зарегистрироваться</button>
                </div>
        
            </div>
        }
    </div>
</body>

<footer>
</footer>


