body
{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

div
{
	box-sizing: border-box;
}

header
{
	background: url(../img/Domik.jpg) no-repeat center top / cover;
	height: 570px;
}

.clearfix: after
{
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.container1
{
	width: 1200px;
	margin: 0 auto;
}

header p
{
	float: right;
	font-size: 17px;
}

.logo
{
	margin-top: 20px;
	float: left;
}

nav
{
	float: right;
	margin-top: 10px;
}

.menu
{
	padding: 0;
	margin: 0;
	display: block;
}

.menu li
{
	float: left;
	display: block;
	margin-right: 50px;
	font-size: 24px;
}

.menu li a 
{
	color: #000;
	text-decoration: none;
}

.titles_first
{
	color: #f5a623;
	font-size: 72px;
	padding-top: 210px;
	text-align: center;
}
.titles_second
{
	color: #f5a623;
	font-size: 30px;
	text-align: center;
	margin-top: 125px;
}

#line
{
    height:50px;
    background: #e8e8e8;
}

.control
{
	width: 1200px;
	margin: 0 auto;
}

.imgs
{
	padding: 0;
	margin: 0;
	display: block;
	padding-top: 9px;
}

.imgs div
{
	float: left;
	margin-right: 56px;
}

.imgs a
{
	padding: 0;
	margin: 0;
	color: #000;
	text-decoration: none;
	font-size: 24px;
}

.pl
{
	color: #000;
	font-size: 30px;
	float: left;
}

.bests1
{
	width: 1200px;
	margin: 0 auto;
	font-size: 30px;
}

.pltitle
{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	float: left;
}

.pltitle img
{
	float: left;
	margin-left: 90px;
	margin-right: 90px;
	margin-top: 30px;
}

.pltitle h3
{
	float: left;
	margin-left: 83px;
	margin-right: 80px;
}

.pltitleP div
{
	font-size: 17px;
	display: flex;
	margin: 0 auto;
	color:#2e2e2e;
	float: left;
	margin-left: 50px;
	margin-right: 55px;
	margin-bottom: 80px;
}

.pltitle1
{
	font-size: 17px;
	color:#2e2e2e;
}

.btn_buy
{
	margin-left: 500px;
	margin-bottom: 30px;
	color: #000;
	text-decoration: none;
}

.btn_buy a
{
	margin: 100px;
	color: #000;
	text-decoration: none;
}

.container4
{
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/second_bg.png) no-repeat center top / cover;
	height: 425px;
}

.Parts
{
	width: 1200px;
	margin: 0 auto;
}

.titles_third
{

	margin: 0 auto;
	color: #FFF;
	font-size: 30px;
	text-align: center;
	padding-top: 40px;
}

.partner
{
	padding: 0;
	margin: 0;
	display: block;
	padding-top: 9px;
}

.partner div
{
	float: left;
	margin-bottom: 90px;
}

.partner p
{
	padding: 0;
	margin: 0;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	margin-left: 17px;
	margin-top: 8px;
	margin-right: 10px;
}

.partner img
{
	border: 1px solid #FFF;
	float: left;
	padding: 9px;
}
.partnerP1 p
{
	margin-top: 15px;
	margin-bottom: 20px;
}
.partnerP2 p
{
	margin-top: 20px;
	margin-right: 18px;
}
.partnerP3 p
{
	margin-top: 18px;
}
.partnerP4 p
{
	margin-top: 25px;
}

.btn_buy1
{
	margin-left: 450px;
	margin-bottom: 30px;
	color: #000;
	text-decoration: none;
	margin-top: 27px; 
}

.btn_buy1 a
{
	color: #000;
	text-decoration: none;
}

#ugolkrug
{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width:1200px;
	height:420px;
	color: #000000;
	background:#FFF;
	border: 4px #006aff solid;
	border-radius: 10px;
	padding: 35px;
}

.container2
{
	width: 1200px;
	margin: 0 auto;
}

.container2 input
{
	width: 3%;
}