﻿@*<!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("Информация", "About", "Home")</li>
                        <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@


@using Smart_home.Models;
@{
    ViewBag.Title = "Homes";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>SmartY</title>
    <style>
        #menu {
            margin: 0;
            padding: 0;
            margin-top: 16px;
            list-style-type: none;
            border: 2px solid #f5a623;
            border-radius: 20px 5px;
            width: 650px;
            text-align: center;
            background-color: #000;
        }

            #menu li {
                display: inline;
            }

            #menu a {
                color: #fff;
                padding: 5px 10px;
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
                width: 100px;
            }

                #menu a:hover {
                    border-radius: 20px 5px;
                    background-color: #f5a623;
                }
    </style>
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>

<body>
    @*  @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("logout...", "Logoff")
        }
        else
        {
            @Html.ActionLink("login", "Login")
            @Html.Label(" | ");
            @Html.ActionLink("register", "Register")
        } *@
    <header>
        <div class="container1">
            <div class="exit">

                <ul class="menu">
                    <nav>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("logout...", "Logoff")
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Регистрация", "Register", "Home")
                            </li>

                            <li>
                                @Html.ActionLink("Войти", "Login", "Home")
                            </li>
                        }
                    </nav>
                </ul>
            </div>


            <div class="heading clearfix">
                <img src="~/Content/img/logo2.png" alt="SmartY" class="logo">
                <nav>
                    <ul id="menu">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Мой Дом</a></li>
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Статьи</a></li>
                    </ul>
                </nav>
            </div>

            <div class="titles">
                <div class="titles_first">
                    Ваш Умный Дом
                </div>
                <div class="titles_second">
                    Компания «SmartY» является надежным и профессиональным инсталлятором
                    систем «Умный дом» с 2006 года.
                </div>
            </div>

        </div>
    </header>


    <section>
        <div id="line" class="line1">

            <div class="control">

                <div class="imgs">
                    <div>
                        <img src="~/Content/img/m1.png" alt="">
                        <a href="#">Освещение</a>
                    </div>
                    <div>
                        <img src="~/Content/img/m2.png" alt="">
                        <a href="#">Климат</a>
                    </div>
                    <div>
                        <img src="~/Content/img/m3.png" alt="">
                        <a href="#">Аудио</a>
                    </div>
                    <div>
                        <img src="~/Content/img/m4.png" alt="">
                        <a href="#">Автоматика</a>
                    </div>
                    <div>
                        <img src="~/Content/img/m5.png" alt="">
                        <a href="#">Безопасность</a>
                    </div>
                    <div>
                        <img src="~/Content/img/m6.png" alt="">
                        <a href="#">Сценарии</a>
                    </div>
                </div>

            </div>

        </div>


    </section>


    <section>
        <hr>
        <div class="bests1">
            Преимущества Умного Дома
        </div>

        <div class="container1">


            <div class="pltitle">
                <img src="~/Content/img/office-chair.png" alt="">
                <img src="~/Content/img/graph.png" alt="">
                <img src="~/Content/img/padlock.png" alt="">
                <img src="~/Content/img/dollar.png" alt="">
            </div>

            <div class="pltitle">
                <h3>Комфорт</h3>
                <h3>Эффективность</h3>
                <h3>Безопасность</h3>
                <h3>Экономичность</h3>
            </div>

            <div align="center" class="pltitleP">
                <div>
                    <p>
                        Удобное управление<br>всеми инженерными<br>системами и техникой
                    </p>
                </div>
                <div>
                    <p>
                        Быстрое и легкое<br>управление ежедневно<br>экономит Ваше время
                    </p>
                </div>
                <div>
                    <p>
                        Видеонаблюдение,<br>контроль доступа и другие<br>аспекты безопасности
                    </p>
                </div>
                <div>
                    <p>
                        Существенное снижение<br>затрат на электроэнергию<br>за счет сценариев
                    </p>
                </div>
            </div>

            <div class="bests1">
                Умный дом от «SmartY» - правильное решение
            </div>

            <div class="pltitle1">
                <div>
                    <p>
                        Продажа комплекта «Умный дом» - это многоэтапный процесс, и каждый этап должен быть выполнен профессионально и с заботой о заказчике.
                    </p>
                </div>
                <div>
                    <p>
                        Для того, чтобы облегчить задачу выбора и покупки - мы приглашаем Вас в наш шоурум, где Вы сможете увидеть:
                    </p>
                </div>
                <div>
                    <p>
                        функционирующие оборудование для умного дома от многих ведущих производителей
                        <br>полную выставку управляющих панелей и классических выключателей
                        <br>полнофункциональный шоурум на основе KNX и BUS PRO с реализованными сценариями по управлению светом, аудио , климатом, приводами, домофонией
                        <br>экспозицию светильников от ведущих мировых брендов
                        <br>зону для прослушивания HI END аппаратуры
                    </p>
                </div>
            </div>

            <div class="btn_buy">
                <a href="#" style="border:1px solid #000; border-radius:50px; width: 300px; text-align:center; margin:5px; padding:5px 20px;">
                    Заказать Умный Дом
                </a>
            </div>

        </div>

    </section>


    <section>
        <hr>
        <div class="container4">

            <div class="Parts">

                <div class="titles_third">
                    «SmartY» - надёжный партнёр
                </div>

                <div class="partner">
                    <div>
                        <img src="~/Content/img/i1.png" alt="" align="middle">
                    </div>
                    <div>
                        <p>Заказывать у нас выгодно. Просто<br> пришлите заявку и Вы высоко<br>оцените широту ассортимента и<br>низкие цены!</p>
                    </div>
                    <div>
                        <img src="~/Content/img/i2.png" alt="" align="middle">
                    </div>
                    <div>
                        <p>Наш шоурум находится в центре<br>города. Вы сможете посмотреть и<br>сравнить все ведущие системы. А мы<br>вам поможем!</p>
                    </div>
                    <div>
                        <img src="~/Content/img/i3.png" alt="" align="middle">
                    </div>
                    <div class="partnerP1">
                        <p>Наши специалисты – это опытные<br>профессионалы. Мы всегда следим за<br>новинками и улучшаем навыки.</p>
                    </div>
                    <div>
                        <img src="~/Content/img/i4.png" alt="" align="middle">
                    </div>
                    <div class="partnerP2">
                        <p>Проектирование осуществляется <br>в соответствии с ГОСТом<br> Р 21.1101-2009, п.4.2</p>
                    </div>
                    <div>
                        <img src="~/Content/img/i5.png" alt="" align="middle">
                    </div>
                    <div class="partnerP3">
                        <p>Установку выполняют мастера своего<br> дела, которые придают особое<br> значение надежности и качеству.</p>
                    </div>
                    <div>
                        <img src="~/Content/img/i6.png" alt="" align="middle">
                    </div>
                    <div class="partnerP4">
                        <p>Мы осуществляем гарантийное и<br> послегарантийное обслуживание.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container1">

            <div class="btn_buy1">
                <a href="#" style="border:1px solid #000; border-radius:50px; width: 300px; text-align:center; margin:5px; padding:5px 20px;">
                    Закажите бесплатную консультацию
                </a>
            </div>

            <div class="btn_buy">
                <a href="#" style="border:1px solid #000; border-radius:50px; width: 300px; text-align:center; margin:5px; padding:5px 20px;">
                    Звоните 88005553535
                </a>
            </div>
        </div>
    </section>

    <hr>
    <footer>
    </footer>


</body>

</html>






        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - у нас этого нет !!! </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        </body>
        </html>


